<div class="form-group">
    <label>Use sample data</label>
    <input type="checkbox" ng-model="vis.params.vparams.sample" class="form-control">
    <label>Auto Flower sizing</label>
    <input type="checkbox" ng-model="vis.params.vparams.auto" aria-label="Toggle ngShow" class="form-control">
    <div class="check-element animate-hide" ng-hide="vis.params.vparams.auto"> 
        <label>Flower size</label>
        <input type="number" ng-model="vis.params.vparams.fsize" class="form-control" min="20" step="5">
        <label>Charge Force</label>
        <input type="checkbox" ng-model="vis.params.vparams.charge" class="form-control">
        <label>Force strength</label>
        <input type="number" ng-model="vis.params.vparams.fstrength" class="form-control" min="-200" max="-1">
        <label>Minimum node size</label>
        <input type="number" ng-model="vis.params.vparams.minNodeSize" class="form-control" min="1" max="5">
        <label>Alpha target 10%-100%(simulation speed)</label>
        <input type="number" ng-model="vis.params.vparams.alphaTarget" class="form-control" min="10" max="100" step="10">
        <label>Saturation and Light - SS%, LL%</label>
        <input type="text" ng-model="vis.params.vparams.hsld" class="form-control">
    </div>
</div>